<div class="container">
  <%= simple_form_for @song do |f| %>
    <div class="row new-form" style="padding-top: 50px;">
      <div class="col-xs-12 col-lg-12 ">
      <%= f.input :artist, label: "Artist Name "%>
      <%= f.input :name, label: "Song Name "  %>
      <%= f.input :time_signature, label: "Time Signature " %>
      <%= f.input :native_bpm, label: "Native BPM " %>
      <%= f.input :key, label: "Key " %>
      <%= f.input :chords, label: "Chords " %>

      <%= f.input :info, label: "Description " %>
      </div>

      <div class="col-xs-12 col-lg-8">

      <%= f.input :photo, label: "Album Art "%>
      <%= f.input :sheet_music, label: "Sheet Music " %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.submit %>
      </div>

    </div>
  <% end %>
</div>
